
#mobi-back-btn:before ,
#mobi-back-btn:after{content:""; position:absolute; left:0; display:block; width:100%; height:16px; }
#mobile-cs-btn {position:relative; float:left; display:block;left:48%;  height:16px; margin:4px 0 0 15px; background:url(../images/service_icon.png) no-repeat; color:#FFF;line-height:16px;padding-left:15px;}
#mobile-cs-btn:before{background:none !important;}
/* bulletin-center */
#bulletinHome dl{position:relative; display:table; width:100%; margin-bottom:5px; padding:15px; background:#003148; box-sizing:border-box;}
#bulletinHome dt{display:table-cell; width:64px; height:64px; border-radius:50%; overflow:hidden;}
#bulletinHome dt img{display:block; width:100%; height:auto;}
#bulletinHome dd{display:table-cell; padding-left:15px; vertical-align:middle; font-size:18px; color:#FFF; font-weight:bold;}
#bulletinHome dd span{display:block; font-size:14px; color:#fac504; font-weight:normal;}
#bulletin-center .link{background:#fafafa;}
#bulletin-center .link a{display:block; padding:15px 10px; border-bottom:1px solid #ccd1d7; overflow:hidden; font-size:16px; color:#333;}
#bulletin-center .link a:before{content:""; display:inline-block; width:0px; height:20px; margin-right:10px; background:none; vertical-align:middle}
#bulletin-center .link a.btn-1:before{background-position:left top;}
#bulletin-center .link a.btn-2:before{background-position:-21px top;}
#bulletin-center .link a.btn-3:before{background-position:-42px top;}
#bulletin-center .link a.btn-4:before{background-position:-63px top;}
#bulletin-center .link a.btn-5:before{background-position:-84px top;}
#bulletin-center .link a.btn-6:before{background-position:right top;}
#bulletin-center .link a:after{content:""; float:right; display:block; width:6px; height:11px; margin-top:7px; background:url(../images/arrow_grey.png);}

#bulletin-center .app{padding:10px 20px; background:#fafafa; border-bottom:1px solid #ccd1d7;}
#bulletin-center .app li{position:relative; padding:10px 0 10px 90px;}
#bulletin-center .app li.line{font-size:15px;}
#bulletin-center .app li span{position:absolute; left:0; top:19px; font-size:16px; color:#333;}
#bulletin-center .app li.line input{color:#0b6189;}
#bulletin-center .app li.wechat input{color:#999;}

#bulletin-center .moneypw{padding:10px 20px; background:#fafafa; border-bottom:1px solid #ccd1d7;}
#bulletin-center .moneypw li{position:relative; padding:10px 0 10px 90px;}
#bulletin-center .moneypw li span{position:absolute; left:0; top:19px; font-size:16px; color:#333;}

.form-tip{margin-top:10px; font-size:13px;}
.form-tip:before{content:""; display:inline-block; width:10px; height:8px; margin-right:5px; background:url(../images/form_tip.png);}
.form-ok{color:#6bc04e;}
.form-ok:before{background-position:left top;}
.form-wrong{color:#ce3a33;}
.form-wrong:before{background-position:right top;}

.text-center {text-align: center;}
.text-right {text-align:right; }
.text-left {text-align: left;}

.state-red {color: #FF0000;}
.state-blue {color:#0000FF;}
.state-green {color: #00AA00;}
.state-gray {color: #ccd1d7;}

.btn{text-align:center;padding:10px 20px;}
.btn button{display:inline-block; margin:0 3px; padding:5px 30px; border:1px solid #CCC;  font-size:16px; color:#FFF; border-radius:3px;line-height:40px;}
.btn button.btn-blue {background:#0b6189;}
.btn button.btn-green {background:#7bbd65;}
.btn button[type="reset"]{background:#ccd1d7;}
.btn button:hover{background:#666;}

/* dialog */
.dialog-window {text-align:center; }
.dialog-window h2{margin-bottom:10px; font-size:18px; color:#01b1e6; line-height:25px; font-weight:normal;}
.dialog-window h2 img{display:block; max-width:100%; height:auto; margin:0 auto 10px auto;}
.dialog-window h3{margin-bottom:10px; font-size:14px; color:#000; line-height:25px; font-weight:normal;}
.dialog-window p{margin-bottom:10px; font-size:13px; color:#666; line-height:20px;}
.dialog-window .links{margin:5px auto;}
.dialog-window .links a{min-width:90px; display:inline-block; margin:5px; padding:5px 20px; border:1px solid #CCC; border-radius:20px; font-size:15px; color:#063a65; box-sizing:border-box; transition:all .3s;}
.dialog-window .links a:hover{background:#01b1e6; color:#FFF;}
.dialog-window .btn a{display:inline-block; margin:5px; padding:10px 20px; border-radius:15px; font-size:16px; color:#FFF; transition:all .3s;}
.dialog-window .btn a.primary{background:#0b6189;}
.dialog-window .btn a.second{background:#063a65;}
.dialog-window .btn a:hover{background:#666;}
.dialog-window h2.warning {color:yellow;}
.dialog-window h2.success {color:green;}
.dialog-window h2.error {color:red;}

.input-form ul{padding:10px 20px; background:#fafafa; border-bottom:1px solid #ccd1d7; font-size:16px; color:#333;}
.input-form li{position:relative; padding:10px 0 10px 90px;}
.input-form li span{position:absolute; left:0; top:19px;}

.input-form .btn{padding:10px 20px; overflow:hidden;text-align: center;}
.input-form .btn button{display:inline-block; background:#0b6189; border:none; border-radius:3px; font-size:16px; color:#FFF; line-height:40px; letter-spacing:.5px; text-align:center;}

.input-form .link{padding:10px; color:#CCC; text-align:center;}
.input-form .link a{font-size:16px; color:#333;}
.input-form input {display:block; width:100%; height:33px; padding:0 8px; background:none; border:none; border-bottom:1px solid #ccd1d7; font-size:15px; color:#333; box-sizing:border-box;}
.input-form select{display:block; width:100%; height:33px; padding:0 8px; border:1px solid #cecece; font-size:15px; color:#333; box-sizing:border-box;}
.static-context {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 15px;
    position: relative;
}

.tab-container .tabs{background:#FFF; overflow:hidden;}
.tab-container .tabs a{float:left; display:block; border-bottom:2px solid transparent; font-size:16px; color:#333; line-height:50px; text-align:center;padding: 5px 10px;}
.tab-container .tabs a.active{border-bottom-color:#0b6189; color:#0b6189;}
.tab-container .tab dl{margin-bottom:5px; box-shadow:0 1px 1px rgba(0,0,0,.1);}
.tab-container .tab dt{padding:10px 20px; background:#fafafa; font-size:14px; color:#888;}
.tab-container .tab table{width:100%; border-top:1px solid #EEE; border-bottom:1px solid #ccd1d7;}
.tab-container .tab thead{background:#FFF; font-size:14px; color:#888;}
.tab-container .tab tbody{background:#fafafa; font-size:15px; color:#333;}
.tab-container .tab tr{border-bottom:1px solid #EEE;}
.tab-container .tab td{width:33.33%; padding:10px 0; text-align:center; box-sizing:border-box;}
.tab-container .tab tr td:nth-child(2){width:33.34%; border-left:1px solid #EEE; border-right:1px solid #EEE;}