<!doctype html>
<html class="">
<head>
<style type="text/css">
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
<meta http-equiv="pragma" content="no-cache">
<meta name="keywords" content="百家樂,真人視訊,骰寶,輪盤,21點,輪盤,龍虎,老虎機">
<meta name="description" content="利亨娛樂城提供會員優質線上博弈遊戲，真人視訊百家樂、牛牛、骰寶、輪盤、上百款老虎機等多元豐富的遊戲，讓您感覺彷彿置身於賭場，線上博弈推薦利亨娛樂城。">
<title>百家樂｜真人視訊｜骰寶｜輪盤｜老虎機利亨娛樂城</title>
<link rel="stylesheet" href="css/jquery-ui.min.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/style.css?v=1">
<link rel="stylesheet" href="css/main.css">
<script async="" src="js/analytics.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<!-- AngularJS -->
<script src="js/angular.min.js"></script>
<script src="js/jquery.blockUI.js"></script>
<script src="js/jquery.form.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/messages_zh_tw.min.js"></script>
<script src="js/datepicker_zh_tw.js"></script>
<script src="js/notify.js"></script>
<style type="text/css" id="notify-bootstrap">
.notifyjs-bootstrap-base {
	font-weight: bold;
	padding: 8px 15px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: nowrap;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 3px 7px;
}
.notifyjs-bootstrap-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.notifyjs-bootstrap-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.notifyjs-bootstrap-info {
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.notifyjs-bootstrap-warn {
	color: #C09853;
	background-color: #FCF8E3;
	border-color: #FBEED5;
}
</style>
<script src="js/sprintf.js"></script>
<script src="js/js.cookie.js"></script>
<!-- Site App Javascript -->
<script src="js/jquery.extends.js"></script>
<script src="js/class.page-query.js"></script>
<script src="js/class.page-query-form.js"></script>
<script src="js/app.utils.js"></script>
<script src="js/app.js"></script>
<style type="text/css" id="notify-html">
.notifyjs-html-base {
	font-weight: bold;
	padding: 8px 15px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: nowrap;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 3px 7px;
}
.notifyjs-html-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.notifyjs-html-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.notifyjs-html-info {
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.notifyjs-html-warn {
	color: #C09853;
	background-color: #FCF8E3;
	border-color: #FBEED5;
}
</style>
 
<script src="js/script.js"></script>

<script>
function contactCsOnline() {
	$app.openWindow($app.cs_online_url, {'width': 400, 'height':300}, 'cs_on_line');
}
</script>
<!-- Kerebro tracking code -->
<meta name="author" content="利亨娛樂城">
<meta name="copyright" content="利亨娛樂城">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="3 days">
<meta name="rating" content="general">
<meta name="msvalidate.01" content="8B81ED169B579A05902FB50C04054728">
<meta name="google-site-verification" content="0xZMUcYr-3pJEGV6jaNLfBJASGIlnsB3BkPcyaNA0fk">
<style type="text/css">
.fancybox-margin{margin-right:0px;}
</style>
<style type="text/css" id="core-notify">
.notifyjs-corner {
	position: fixed;
	margin: 5px;
	z-index: 9999;
}
.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	margin: 3px;
}
.notifyjs-wrapper {
	z-index: 1;
	position: absolute;
	display: inline-block;
	height: 0;
	width: 0;
}
.notifyjs-container {
	display: none;
	z-index: 1;
	position: absolute;
}
.notifyjs-hidable {
	cursor: pointer;
}
[data-notify-text],[data-notify-html] {
	position: relative;
}
.notifyjs-arrow {
	position: absolute;
	z-index: 2;
	width: 0;
	height: 0;
}
</style>
</head>
<body app="defaultApp">
<!-- all -->
<div id="all">
	<!-- header -->
	<div id="header">
		<!-- logo -->
		<div id="main-title">
			優惠活動
		</div>
		<!-- mobi-btn -->
		<a id="mobi-btn" login="true">
		<hr>
		選單開關
		</a>
		<a id="mobi-back-btn" class="back" style="display:none;" href="activity.html"></a>
		<!-- member -->
		<!-- deposit -->
		<a class="deposit" href="cunkuan.html">存款</a>
		<!-- point -->
		<div class="point ng-scope ng-binding">
			0點
		</div>
	</div>
	<!-- navigation -->
	<ul id="navigation">
		<li class="navi-1"><a href="index.html">首頁</a></li>
		<li class="navi-2"><a href="bet-record.html">投注紀錄</a></li>
		<li class="navi-3"><a href="funds.html">我的錢包</a></li>
		<li class="navi-4"><a href="activity.html">優惠活動</a></li>
		<li class="navi-5"><a href="member.html">會員中心</a></li>
	</ul>
	<div id="container" style="">
		<div id="event" ng-controller="ActivityMController" ng-init="showActivity('')" class="ng-scope">
			<dl>
				<a href="#" ng-click="showActivity('A01_1')">
				<dt><img src="images/index_slider_1.jpg"></dt>
				<dd>首存加贈100%<span class="green">立即參加</span></dd>
				</a>
			</dl>
			<dl>
				<a href="#" ng-click="showActivity('A01_2')">
				<dt><img src="images/index_slider_12.jpg"></dt>
				<dd>再存加贈20%<span class="green">立即參加</span></dd>
				</a>
			</dl>
			<dl>
				<a href="#" ng-click="showActivity('A03')">
				<dt><img src="images/index_slider_3_new.jpg"></dt>
				<dd>註冊送100體驗金<span class="green">立即參加</span></dd>
				</a>
			</dl>
			<dl>
				<a href="#" ng-click="showActivity('A02')">
				<dt><img src="images/index_slider_02.jpg"></dt>
				<dd>高額返水<span class="blue">自動立即參加</span></dd>
				</a>
			</dl>
			<dl>
				<a href="#" ng-click="showActivity('A04')">
				<dt><img src="images/index_slider_04.jpg"></dt>
				<dd>VIP會員<span class="blue">自動立即參加</span></dd>
				</a>
			</dl>
			<dl>
				<a href="#" ng-click="showActivity('A06_1')">
				<dt><img src="images/index_slider_a06.jpg"></dt>
				<dd>歡慶元旦加碼送<span class="green">立即參加</span></dd>
				</a>
			</dl>
		</div>
		<div id="A01_1Page" style="display:none;">
			<div id="event-detail">
				<div class="title-1">
					新人首儲紅利
				</div>
				<div class="wrap">
					<div class="intro">
						<img src="images/index_slider_1.jpg">
						<p>
							<span>活動時間：</span>2017年08月19日
						</p>
						<p>
							<span>活動場所：</span>利亨遊戲
						</p>
						<p>
							<span>活動對象：</span>利亨全會員
						</p>
					</div>
					<h2 class="title-2">活動內容</h2>
					<table>
					<thead>
					<tr>
						<td class="col-1" width="100">
							&nbsp;
						</td>
						<td class="col-2">
							新人首儲
						</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="col-1">
							回饋
						</td>
						<td class="pink">
							100%
						</td>
					</tr>
					<tr>
						<td class="col-1">
							存款金額
						</td>
						<td class="grey">
							1000
						</td>
					</tr>
					<tr>
						<td class="col-1">
							獎勵上限
						</td>
						<td class="green">
							1000元
						</td>
					</tr>
					<tr>
						<td class="col-1">
							碼量倍數
						</td>
						<td class="blue">
							（存款金额+奖金）x 15倍
						</td>
					</tr>
					</tbody>
					</table>
					<h2 class="title-2">申請方式</h2>
					<ul class="notice">
						<li>新人首儲優惠只針對新會員第1次存款發放。</li>
						<li>在申請紅利前請勿進行館內轉帳或投注遊戲，並連繫24H線上客服申請紅利，否則我們將視為您放棄本優惠的享有權利。</li>
						<li>優惠不可與其他存返水優惠，同時使用，除非該優惠明確列明。</li>
					</ul>
					<h2 class="title-2">優惠規則</h2>
					<ul class="notice">
						<li>無論個人或團體，如有任何濫用本公司的優惠行為，經本公司審核，本公司保留權利取消、收回優惠以及優惠產生的盈利。</li>
						<li>所有活動的優惠都是特別為會員而設，在會員註冊資訊有爭議時，為確保雙方利益，杜絕身份盜用行為，本公司保留權利要求會員向我們提供充足有效的圖檔，並以各種方式辨別客戶是否符合資格享有我們的任何優惠。</li>
						<li>同一帳戶/家庭/戶籍地址/電郵地址/付款帳號(如借記卡/信用卡帳號等)/IP地址/共享電腦/網路環境，都只能享有一次優惠。</li>
						<li>任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</li>
						<li>嚴禁利用本活動優惠進行均注對押、非均注對押、集體對押、聯合其他娛樂城對押。</li>
					</ul>
				</div>
				<script>
    var a01Join = false;
    function joinA01() {
    	if (a01Join) {
    		return;
    	}
    	var isLogin = '1';
    	if (isLogin == '1') {
    		/*  */
    		contactCsOnline();
    	} else {
    		$app.alert('請先登入會員');
    	}
    }
    </script>
			 
			</div>
		</div>
		<div id="A01_2Page" style="display:none;">
			<div id="event-detail">
				<div class="title-1">
					再儲紅利
				</div>
				<div class="wrap">
					<div class="intro">
						<img src="images/index_slider_12.jpg">
						<p>
							<span>活動時間：</span>2017年08月19日
						</p>
						<p>
							<span>活動場所：</span>利亨遊戲
						</p>
						<p>
							<span>活動對象：</span>利亨全會員
						</p>
					</div>
					<h2 class="title-2">活動內容</h2>
					<table>
					<thead>
					<tr>
						<td class="col-1" width="100">
							&nbsp;
						</td>
						<td class="col-3">
							再儲優惠
						</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="col-1">
							回饋
						</td>
						<td class="pink">
							20%
						</td>
					</tr>
					<tr>
						<td class="col-1">
							最低存款金額
						</td>
						<td class="green">
							1000
						</td>
					</tr>
					<tr>
						<td class="col-1">
							獎勵上限
						</td>
						<td class="green">
							5000元
						</td>
					</tr>
					<tr>
						<td class="col-1">
							碼量倍數
						</td>
						<td class="blue">
							（存款金额+奖金）x 12倍
						</td>
					</tr>
					</tbody>
					</table>
					<h2 class="title-2">申請方式</h2>
					<ul class="notice">
						<li>再儲優惠每人限申請一次。</li>
						<li>在申請紅利前請勿進行館內轉帳或投注遊戲，並連繫24H線上客服申請紅利，否則我們將視為您放棄本優惠的享有權利。</li>
						<li>優惠不可與其他存返水優惠，同時使用，除非該優惠明確列明。</li>
					</ul>
					<h2 class="title-2">優惠規則</h2>
					<ul class="notice">
						<li>無論個人或團體，如有任何濫用本公司的優惠行為，經本公司審核，本公司保留權利取消、收回優惠以及優惠產生的盈利。</li>
						<li>所有活動的優惠都是特別為會員而設，在會員註冊資訊有爭議時，為確保雙方利益，杜絕身份盜用行為，本公司保留權利要求會員向我們提供充足有效的圖檔，並以各種方式辨別客戶是否符合資格享有我們的任何優惠。</li>
						<li>同一帳戶/家庭/戶籍地址/電郵地址/付款帳號(如借記卡/信用卡帳號等)/IP地址/共享電腦/網路環境，都只能享有一次優惠。</li>
						<li>任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</li>
						<li>嚴禁利用本活動優惠進行均注對押、非均注對押、集體對押、聯合其他娛樂城對押。</li>
					</ul>
				</div>
				<script>
    var a01Join = false;
    function joinA01() {
    	if (a01Join) {
    		return;
    	}
    	var isLogin = '1';
    	if (isLogin == '1') {
    		/*  */
    		contactCsOnline();
    	} else {
    		$app.alert('請先登入會員');
    	}
    }
    </script>
		 
			</div>
		</div>
		<div id="A01_3Page" style="display:none;">
			<div id="event-detail">
				<div class="title-1">
					註冊送100體驗金
				</div>
				<div class="wrap">
					<div class="intro">
						<img src="images/index_slider_3_new.jpg">
						<p>
							<span>活動時間：</span>2017年08月28日
						</p>
						<p>
							<span>活動場所：</span>利亨遊戲
						</p>
						<p>
							<span>活動對象：</span>利亨全會員
						</p>
					</div>
					<h2 class="title-2">活動內容</h2>
					<table>
					<tbody>
					<tr>
						<td style="background: #59bba0; color: #FFF;">
							註冊
						</td>
						<td style="background: #59bba0; color: #FFF;">
							體驗金
						</td>
						<td style="background: #59bba0; color: #FFF;">
							碼量要求
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							註冊會員並綁定銀行資料
						</td>
						<td style="background: #FFF;">
							100
						</td>
						<td style="background: #FFF;">
							0
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;text-align: left;" colspan="3">
							500可申請提款，上限提款688，僅可提款一次，多於提款上限金額將扣除。
						</td>
					</tr>
					</tbody>
					</table>
					<h2 class="title-2">申請方式</h2>
					<ul class="notice">
						<li>註冊後點我的錢包 &gt; 提款上傳銀行資料綁定</li>
						<li>點擊"立即申請"按鈕或聯繫在線客服"提出申請"，完成審核後，系統將自動發放紅利。(請於註冊24小時內提出申請，逾期無效)</li>
						<li>在申請紅利前請勿存款或申請其他優惠，否則我們將視為您放棄本優惠的享有權利。</li>
					</ul>
					<h2 class="title-2">優惠規則</h2>
					<ul class="notice">
						<li>無論個人或團體，如有任何濫用本公司的優惠行為，經本公司審核，本公司保留權利取消、收回優惠以及優惠產生的盈利。</li>
						<li>所有活動的優惠都是特別為會員而設，在會員註冊資訊有爭議時，為確保雙方利益，杜絕身份盜用行為，本公司保留權利要求會員向我們提供充足有效的圖檔，並以各種方式辨別客戶是否符合資格享有我們的任何優惠。</li>
						<li>同一帳戶/家庭/戶籍地址/電郵地址/付款帳號(如借記卡/信用卡帳號等)/IP地址/共享電腦/網路環境，都只能享有一次優惠。</li>
						<li>任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</li>
						<li>嚴禁利用本活動優惠進行均注對押、非均注對押、集體對押、聯合其他娛樂城對押。</li>
					</ul>
				</div>
				<script>
    var a03Join = false;
    function joinA03() {
    	if (a03Join) {
    		return;
    	}
    	var isLogin = '1';
    	if (isLogin == '1') {
    		/*  */
    		contactCsOnline();
    	} else {
    		$app.alert('請先登入會員');
    	}
    }
    </script>
				 
			</div>
		</div>
		<div id="A01_4Page" style="display:none;">
			<div id="event-detail">
				<div class="title-1">
					高額返水 最高0.7%
				</div>
				<div class="wrap">
					<div class="intro">
						<img src="images/index_slider_02.jpg">
						<p>
							<span>活動時間：</span>2017年07月10日
						</p>
						<p>
							<span>活動場所：</span>利亨遊戲
						</p>
						<p>
							<span>活動對象：</span>利亨全會員
						</p>
					</div>
					<h2 class="title-2">活動內容</h2>
					<table>
					<tbody>
					<tr>
						<td style="background: #59bba0; color: #FFF;">
							遊戲類型
						</td>
						<td style="background: #59bba0; color: #FFF;">
							菁英
						</td>
						<td style="background: #59bba0; color: #FFF;">
							至尊
						</td>
						<td style="background: #59bba0; color: #FFF;">
							尊爵
						</td>
						<td style="background: #59bba0; color: #FFF;">
							帝王
						</td>
					</tr>
					<tr>
						<td class="col-1">
							真人娛樂
						</td>
						<td style="background: #FFF;">
							0.40%
						</td>
						<td style="background: #FFF;">
							0.50%
						</td>
						<td style="background: #FFF;">
							0.65%
						</td>
						<td style="background: #FFF;">
							0.70%
						</td>
					</tr>
					<tr>
						<td class="col-1">
							老虎機
						</td>
						<td style="background: #FFF;">
							0.40%
						</td>
						<td style="background: #FFF;">
							0.50%
						</td>
						<td style="background: #FFF;">
							0.65%
						</td>
						<td style="background: #FFF;">
							0.70%
						</td>
					</tr>
					</tbody>
					</table>
					<h2 class="title-2">申請方式</h2>
					<ul class="notice">
						<li>參與利亨遊戲之會員即可享天天返水無上限</li>
						<li>有效投注/洗碼量，都是指是您在投注過程中的有效投注計算，和局除外。假設您下注了3局遊戲，第一局勝/負100元，第二局勝/負50元，第三局和局，您的有效投注/洗碼量就是150。</li>
						<li>返水計算時間為：前一天凌晨（台灣時間00:00 am）至當天凌晨（台灣時間00:00 am）的返水報表。</li>
						<li>返水最慢每日下午(台灣時間13:00)左右自動發放，返水只需一倍碼量即可提款(不限遊戲)</li>
						<li>此優惠不可與其他存送的優惠同時使用，除非該優惠明確列明。</li>
						<li>本活動計算有效投注，任何取消的賽事、牌局及無風險投注、免傭投注，均不計算為有效注單。</li>
						<li>無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</li>
					</ul>
					<h2 class="title-2">優惠規則</h2>
					<ul class="notice">
						<li>無論個人或團體，如有任何濫用本公司的優惠行為，經本公司審核，本公司保留權利取消、收回優惠以及優惠產生的盈利。</li>
						<li>所有活動的優惠都是特別為會員而設，在會員註冊資訊有爭議時，為確保雙方利益，杜絕身份盜用行為，本公司保留權利要求會員向我們提供充足有效的圖檔，並以各種方式辨別客戶是否符合資格享有我們的任何優惠。</li>
						<li>同一帳戶/家庭/戶籍地址/電郵地址/付款帳號(如借記卡/信用卡帳號等)/IP地址/共享電腦/網路環境，都只能享有一次優惠。</li>
						<li>任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</li>
						<li>嚴禁利用本活動優惠進行均注對押、非均注對押、集體對押、聯合其他娛樂城對押。</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="A01_5Page" style="display:none;">
			<div id="event-detail">
				<div class="title-1">
					VIP會員
				</div>
				<div class="wrap">
					<div class="intro">
						<img src="images/index_slider_04.jpg">
						<p>
							<span>活動時間：</span>2017年07月10日
						</p>
						<p>
							<span>活動場所：</span>利亨遊戲
						</p>
						<p>
							<span>活動對象：</span>利亨全會員
						</p>
					</div>
					<h2 class="title-2">活動內容</h2>
					<span class="notice">伴隨著會員在利亨上的持續活躍度的成長，為會員提供更細心的關懷和更優質的活動。「利亨會員成長計劃」是利亨最新推出的一套面向利亨會員的全新回饋體系。新老會員也可以享受更多的活動紅利優惠！</span>
					<table>
					<tbody>
					<tr>
						<td style="background: #59bba0; color: #FFF;">
							等級
						</td>
						<td style="background: #59bba0; color: #FFF;">
							真人娛樂退水
						</td>
						<td style="background: #59bba0; color: #FFF;">
							電子遊戲退水
						</td>
						<td style="background: #59bba0; color: #FFF;">
							免費提款
						</td>
						<td style="background: #59bba0; color: #FFF;">
							生日禮金
						</td>
						<td style="background: #59bba0; color: #FFF;">
							條件
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							菁英
						</td>
						<td style="background: #FFF;">
							0.40%
						</td>
						<td style="background: #FFF;">
							0.40%
						</td>
						<td style="background: #FFF;">
							5 / 週
						</td>
						<td style="background: #FFF;">
							-
						</td>
						<td style="background: #FFF;">
							無
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							至尊
						</td>
						<td style="background: #FFF;">
							0.50%
						</td>
						<td style="background: #FFF;">
							0.50%
						</td>
						<td style="background: #FFF;">
							7 / 週
						</td>
						<td style="background: #FFF;">
							588
						</td>
						<td style="background: #FFF;">
							前月有效投注300萬點
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							尊爵
						</td>
						<td style="background: #FFF;">
							0.65%
						</td>
						<td style="background: #FFF;">
							0.65%
						</td>
						<td style="background: #FFF;">
							9 / 週
						</td>
						<td style="background: #FFF;">
							988
						</td>
						<td style="background: #FFF;">
							前月有效投注1000萬點
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							帝王
						</td>
						<td style="background: #FFF;">
							0.70%
						</td>
						<td style="background: #FFF;">
							0.70%
						</td>
						<td style="background: #FFF;">
							無限
						</td>
						<td style="background: #FFF;">
							1888
						</td>
						<td style="background: #FFF;">
							由公司審核並發訊息告知
						</td>
					</tr>
					</tbody>
					</table>
					<h2 class="title-2">申請方式</h2>
					<ul class="notice">
						<li>有效投注點數：當月累計有效投注點數是按照當月1日至當月31日止為一個月來計算。</li>
						<li>生日禮金：生日禮金只需1倍流水即可提款。</li>
						<li>免費提款：免費提款次數將因會員等級而異，若超過當週免費提款次數，將酌收部分費用。（詳情請參照提款說明）</li>
						<li>會員晉陞審核：本公司將於每月月底審核會員資格，若至尊會員月碼量未達300萬點，將取消至尊資格變成菁英會員；若尊爵會員月流水量未達1000萬點將取消資格變成將至尊會員。以上皆需經風險管理部門評核，若有被評判為打水注單、以不正當方式下注或利用無風險投注時，利亨會將取消其等級提升資格。</li>
						<li>會員晉陞通知：符合晉陞條件資格的會員，將於每月初由系統自動審核您的資格，若您通過資格審核，系統將直接為您提升等級並發送訊息告知。</li>
						<li>每位會員只能獲得一次升級禮金。</li>
						<li>生日禮金是生日的前後三天來申請有效，請提供身份證/護照前後照片給客服審核。</li>
						<li>利亨娛樂保留對活動的修改，停止及最終解釋權。</li>
					</ul>
					<h2 class="title-2">優惠規則</h2>
					<ul class="notice">
						<li>無論個人或團體，如有任何濫用本公司的優惠行為，經本公司審核，本公司保留權利取消、收回優惠以及優惠產生的盈利。</li>
						<li>所有活動的優惠都是特別為會員而設，在會員註冊資訊有爭議時，為確保雙方利益，杜絕身份盜用行為，本公司保留權利要求會員向我們提供充足有效的圖檔，並以各種方式辨別客戶是否符合資格享有我們的任何優惠。</li>
						<li>同一帳戶/家庭/戶籍地址/電郵地址/付款帳號(如借記卡/信用卡帳號等)/IP地址/共享電腦/網路環境，都只能享有一次優惠。</li>
						<li>任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</li>
						<li>嚴禁利用本活動優惠進行均注對押、非均注對押、集體對押、聯合其他娛樂城對押。</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="A01_6Page" style="display:none;">
			<div id="event-detail">
				<div class="title-1">
					歡慶元旦加碼送
				</div>
				<div class="wrap">
					<div class="intro">
						<img src="images/index_slider_a06.jpg">
						<p>
							<span>活動時間：</span>2018年01月01日 ~ 2018年01月05日
						</p>
						<p>
							<span>活動場所：</span>利亨娛樂城
						</p>
						<p>
							<span>活動對象：</span>利亨全會員
						</p>
					</div>
					<h2 class="title-2">活動內容</h2>
					<table>
					<tbody>
					<tr>
						<td style="background: #59bba0; color: #FFF;">
							單筆儲值金額
						</td>
						<td style="background: #59bba0; color: #FFF;">
							贈送點數
						</td>
						<td style="background: #59bba0; color: #FFF;">
							最高贈點
						</td>
						<td style="background: #59bba0; color: #FFF;">
							碼量倍數
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							1,000元 (含以上)
						</td>
						<td style="background: #FFF;">
							25%
						</td>
						<td style="background: #FFF;" rowspan="2">
							16888
						</td>
						<td style="background: #FFF;">
							存款金額+優惠）* 25倍
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							5,000元 (含以上)
						</td>
						<td style="background: #FFF;">
							30%
						</td>
						<td style="background: #FFF;">
							存款金額+優惠）* 25倍
						</td>
					</tr>
					</tbody>
					</table>
					<br>
					<table>
					<tbody>
					<tr>
						<td style="background: #59bba0; color: #FFF;">
							累計儲值金額
						</td>
						<td style="background: #59bba0; color: #FFF;">
							負盈利救援金
						</td>
						<td style="background: #59bba0; color: #FFF;">
							最高返點
						</td>
						<td style="background: #59bba0; color: #FFF;">
							提款洗碼量
						</td>
					</tr>
					<tr>
						<td style="background: #FFF;">
							5000元(含以上)
						</td>
						<td style="background: #FFF;">
							10%
						</td>
						<td style="background: #FFF;">
							12800
						</td>
						<td style="background: #FFF;">
							優惠 * 20倍
						</td>
					</tr>
					<tr>
						<td colspan="4">
                    	範例：
							<br>
計算時間為當日00:00~23:59
							<br>
(虧損金額 - 紅利 - 返水) X 對應百分比 = 救援金
						</td>
					</tr>
					</tbody>
					</table>
					<h2 class="title-2">申請方式</h2>
					<ul class="notice">
						<li>符合申請資格之會員，存款前與線上客服聯繫申請</li>
					</ul>
					<h2 class="title-2">優惠規則</h2>
					<ul class="notice">
						<li>獲得優惠前請不要進行館內轉帳或投注遊戲。</li>
						<li>本優惠僅限於真人娛樂及電子遊戲，達洗碼量條件即可提款，若於非規定管別遊戲不得提款。</li>
						<li>優惠活動期間每人每日限申請一次。</li>
						<li>負盈利救援金將無條件進位至整數位；當日派發金額上限為12800元</li>
						<li>符合申請條件的會員請在次日24小時內連繫線上客服申請，逾期視為自動放棄。</li>
						<li>為保證優惠活動的正常進行，任何形式的非正規投注，非正規存提款，及申請資料的姓名/電話/信箱/銀行帳戶/IP須為真實且唯一，如有發現虛假資料將取消優惠及盈利。</li>
						<li>因參與此活動而造成的任何爭議或異議，本站保留此活動的最終處理權。</li>
						<li>此活動僅適用於娛樂性玩家，任何團隊或個人進行套利行為本公司有權沒收獎金及盈利並凍結帳戶終止合作。</li>
						<li>此優惠不得與其他優惠活動並行。</li>
					</ul>
				</div>
				 
			</div>
		</div>

		<!-- footer -->
		<div id="footer">
			<ul class="links">
				<li class="media"><a href="#" target="_blank">影城</a></li>
				<li class="pc"><a href="#">電腦</a></li>
			</ul>
			<p>
			© 首席CHIEF. All Rights Reserved.
			</p>
		</div>
	</div>
</div>
<!-- mask -->
<div id="mask">
	遮罩
</div>
<!-- mobile -->
<div id="mobile" class="ng-scope">
	<dl class="member">
		<dt>
		<img src="images/member_photo.jpg">
		</dt>
		<dd>
		<div class="id ng-binding">
			tw61001
		</div>
		<div class="type">
			會員類型：
			<span><vip-level value="memberInfo.vipInfo.vip_level" watch="true" class="ng-isolate-scope">菁英</vip-level></span>
		</div>
		</dd>
	</dl>
	<div class="control">
		<a class="btn-1" href="index.html">首頁</a>
		<a class="btn-2" href="bet-record.html">投注紀錄</a>
		<a class="btn-3" href="cunkuan.html">存款</a>
		<a class="btn-4" href="funds.html">我的錢包</a>
	</div>
	<ul class="game-list">
		<li class="type-1"><a>體育投注</a>
		<ul class="sub-menu">
			<li><a href="#" target="_blank" title="Super體育">Super體育</a></li>
			<li><a href="javascript:;" target="_blank" title="鑫新寶體育">鑫新寶體育</a></li>
			<li><a href="javascript:;" target="_blank" title="CB體育">CB體育</a></li>
			<li><a href="javascript:;" target="_blank" title="反波膽">反波膽</a></li>

		</ul>
		</li>
		<li class="type-2"><a>百家樂</a>
		<ul class="sub-menu">
			<li><a href="game.html" title="沙龍真人">沙龍真人</a></li>
			<li><a href="#" title="歐博真人">歐博真人</a></li>
			<li><a href="#" title="瑪雅真人">瑪雅真人</a></li>
			<li><a href="#" title="DG真人">DG真人</a></li>
			<li><a href="#" title="Hy真人">HY真人</a></li>
		</ul>
		</li>
		<li class="type-3"><a>電子遊戲</a>
		<ul class="sub-menu">
			<li><a href="#" target="_blank" title="BY捕魚機">BY捕魚機</a></li>
			<li><a href="#" target="_blank" title="UC8">UC8</a></li>

		</ul>
		</li>

		<li class="type-4"><a>彩球彩票</a>
		<ul class="sub-menu">
			<li><a href="#" target="_blank" title="雲谷彩票">雲谷彩票</a></li>
			<li><a href="#" target="_blank" title="Bingo">Bingo</a></li>

		</ul>
		</li>
	</ul>
	<ul class="link">
		<li class="log" "><a href="#">登出帳戶</a></li>
		<li class="media"><a href="#" target="_blank">AV影城</a></li>
	</ul>
</div>
<script src="js/member.info.js"></script>
<script>
$(document).ready(function(){
$('[downloadApp]').each(function(){
	$(this).attr('url', $(this).attr('href'));
	$(this).attr('href', 'javascript:;');
	$(this).click(function(){
    	var $dialog = $('#get-game');
    	//$dialog.remove();
    	var title = $(this).attr('title');
    	var img = $(this).attr('img');
    	var appUrl = $(this).attr('downloadApp');
    	var entryUrl = $(this).attr('url');
    	$dialog = $('<div id="get-game"><div class="wrap"><div class="enter"><a class="web" href="' + entryUrl + '" target="_blank">WEB進入</a><a class="app" href="' + appUrl + '" target="_blank">下載APP</a></div></div></div>');
    	$('body').append($dialog);
    	$app.dialog.showElement(title, '#get-game');
    });
});

$('#container dl').click(function(){
	$('#event').hide();
	var index = $(this).index();
	$("[id^='A01_']").hide();
	$("[id^='A01_']").eq(index).show();
	
	$('#mobi-btn').hide();
	$('#mobi-back-btn').show();
	 
});

});
</script>
</body>
</html>