.panel.about {
    padding:30px;
}
.ourPoducts {
    margin-top:20px;
}
.ourPoducts ul {
    margin:0 !important;
    padding:0 !important;
    width:100%;
}
.ourPoducts ul li {
    width:20%;
    height:130px;
    margin:0 0 20px 0;
    float:left; 
    list-style:none;
    text-align:center;

}
.ourPoducts ul li a {
    text-decoration:none;
    color:#555;
}
.ourPoducts ul li a:hover .products {
    margin:5px auto 12px auto;
}
.products {
    border-radius:50%;
    box-shadow: 0px 5px 18px #999;
    margin:0px auto 12px auto;
    width:80px;
    height:80px;
    overflow:hidden;
    display:block;

    transition: margin linear 0.2s;
    -moz-transition: margin linear 0.2s;
    -webkit-transition: margin linear 0.2s;
    -o-transition: margin linear 0.2s;
}
.about ul {
    padding-left:25px;
    list-style-type:disc;
}
[data-bg="about"] {
    background-image:url("../images/about_bg.jpg") !important;
    background-repeat:no-repeat;
    background-size:cover;
}
.about h3 {
    margin:0;
}