[data-bg="casino"] {
    background-image:url("../images/casino_bg.jpg") !important;
}
.sa .gameCardsRight ,.bbin .gameCardsRight {
    background:url(../images/right_bg_purple.png);
}
.ebet .gameCardsRight {
    background:url(../images/right_bg_orange.png);
}
.maya .gameCardsRight {
    background:url(../images/right_bg_red.png);
}
.allbet .gameCardsRight {
    background:url(../images/right_bg_blue.png);
}
.allbet .playNowBtn ,.sa .playNowBtn ,.bbin .playNowBtn {
    color:#920783;
    background:#fff;
}
.ebet .playNowBtn {
    color:#e65100;
    background:#fff;
}
.allbet .playNowBtn:hover ,.sa .playNowBtn:hover ,.bbin .playNowBtn:hover  {
    color:#fff;
    background:#e6024f;
}
.ebet .playNowBtn:hover {
    color:#fff;
    background:#d84315;
}
.sa .playTestBtn ,.bbin .playTestBtn {
    color:#fff;
    background:#ad47a2;
}
.ebet .playTestBtn {
    color:#fff;
    background:#f4922e;
}
.sa .playTestBtn:hover ,.bbin .playTestBtn:hover {
    background:#c960be;
}
.ebet .playTestBtn:hover {
    color:#fff;
    background:#ffa74e;
}
.maya .playNowBtn {
    color:#82191a;
    background:#fff;
}
.maya .playNowBtn:hover {
    color:#fff;
    background:#c00000;
}
.maya .playTestBtn {
    color:#fff;
    background:#9f3030;
}
.maya .playTestBtn:hover {
    color:#fff;
    background:#bb5454;
}
.allbet .playTestBtn {
    color:#fff;
    background:#497ebf;
}
.allbet .playTestBtn:hover {
    color:#fff;
    background:#5996e0;
}
.allbet .playNowBtn {
    color:#1E88E5;
    background:#fff;
}
.allbet .playNowBtn:hover {
    color:#fff;
    background:#4cdfff;
}
.allbet .playh5Btn ,.maya .playh5Btn ,.ebet .playh5Btn {
    margin-top: 10px;
    color:#333;
    background:#FFCA28;
}
.allbet .playh5Btn:hover ,.maya .playh5Btn:hover {
    color:#333;
    background:#FFA000;
}

/**/
.gameCards.maya {
    margin:0 0 80px 0; 
}
.gameCards.bbin {
    margin:0 0 80px 0; 
}
.gameCards.ebet {
    margin:0 0 80px 0; 
}
.gameCards.allbet {
    margin:0 0 80px 0; 
}
.gameCards .live_mobile {
    border-bottom:8px solid #e6024f;
}
.maya .gameCardsRight_body .buttom {
}
.liveMobileText {
    position:absolute;
    left:35%;
    top:40px;
    font-size:45px;
    letter-spacing:2px;
    color:#e6024f;
}
.liveMobileText span {
    font-size:18px;
    letter-spacing:5px;
}
.gameCards.allbet .gameCards_bg {
    height: 450px
}
.gameCards_bg_mobile {
    height:191px;
    border-bottom:5px solid #e6024f;
    position:relative;
    overflow:hidden;
}
.maya .gameCards_bg .girl ,.sa .gameCards_bg .girl ,.ebet .gameCards_bg .girl {
    bottom:0;
    left:200px;
}
.maya .gameCards_bg .logo ,.sa .gameCards_bg .logo ,.ebet .gameCards_bg .logo  {
    top:15px;
    left:15px;
}
.allbet .gameCards_bg .girl {
    bottom:0;
}
.allbet .gameCards_bg .logo {
    top:15px;
    left:15px;
}
.bbin .gameCards_bg .girl {
    bottom:0;
    left:-15px;
}
.bbin .gameCards_bg .logo {
    top:15px;
    left:15px;
}
.gameCards.maya .gameCards_bg {
    background:url(../images/maya_bg.jpg);
}
.gameCards.bbin .gameCards_bg {
    background:url(../images/uc8_bg.jpg);
}
.gameCards.ebet .gameCards_bg {
    background:url(../images/ebet_bg.jpg);
}
.gameCards.allbet .gameCards_bg {
    background:url(../images/gg_bg.jpg);
}
.gameCards.sa .gameCards_bg {
    background:url(../images/uc8_bg.jpg);
}
.gameCards.live_mobile .goBtn_pink {
    right:50px;
    top:25px;
}
.goBtn_pink {
    width:150px;
    height:150px;
    position:absolute;
    background:url(../images/goBtn_pink.png);
}