/*金流的框架*/
.heigh {
    height:500px;
}
.stepsTitle ,.stepIcon ,.formTitle {
    user-select:none;
    -webkit-user-select:none;
}
.panelGray {
    background:#eee !important;
    width:calc(100% - 40px) !important;
    padding:20px;
}
.showCenterAcc {
    background:url("../images/mask_bg.png");
    color:#fff;
    position:absolute;
    bottom:0;
    left:0;
    height:140px;
    text-align:center;
    width:100%;
    padding:30px;
    font-size:24px;
}
.financeCard {
    width:calc(50% - 12px);
    float:left;
    margin-top:30px;
    border:1px solid #ccc;
    border-radius:5px;
}
.contentBody.mobile.notLoginContent {
    top: 100px;
}
.financeCard:nth-child(even) {
    margin-left:10px;
}
.financeCard:nth-child(odd) {

    margin-right:10px;
}
.financeCard .title {
    padding:10px 20px;
    font-size:22px;
    line-height:24px;
    color:#fff;
    background:#1062a9;
    overflow:hidden;

    display:table;
    width:100%;
}
.titleLeft {
    display:table-cell;
    width:90%;
}
.titleRight {
    padding-top:10px;
}
.financeCard .content {
    color:#afafaf;
    padding:20px 20px 0 20px;
    font-size:16px;
    line-height:20px;
}
.financeCard .content.info {
    padding:10px 10px 0 10px;
}
.financeCard .content h3 {
    font-size:20px;
    font-weight:500;
    color:#757575;
    margin:20px 0;
}
.financeCard .content ol {
    list-style-type: decimal;
    margin-left:20px;
}
.financeCard .footer.info {
    -webkit-box-shadow: 1px -22px 27px -21px rgba(209,209,209,1);
    -moz-box-shadow: 1px -22px 27px -21px rgba(209,209,209,1);
    box-shadow: 1px -22px 27px -21px rgba(209,209,209,1);
}
.financeCard .footer {
    padding:20px 0;
}
.contentInfo {
    width:100%;
    overflow:auto;
}
.textBtn {
    color:#39a6ff;
    cursor:pointer;
    transition: opacity linear 0.2s;
    -moz-transition: opacity linear 0.2s;
    -webkit-transition: opacity linear 0.2s;
    -o-transition: opacity linear 0.2s;
}
.textBtn.decoration {
    text-decoration:underline;
}
.financeCard .footer .btnWrap {
    margin: 0 auto;
    width:230px;
}
.formFooter .btnWrap {
    margin: 0 auto;
    width:500px;
}
.getPointTd {
    width: 8em;
}
.getPointBtn {
    margin:0 8px;
    padding:8px 16px;
    background:#ffce00;
    color:#6b4711;
    line-height:18px;
}
.getPointBtn:hover ,.getPointBtn:active ,.getPointBtn:focus {
    background:#FFCE04;
}
ul#historyTabs {
    background: #f8f9fd;
    box-shadow: 0px -2px 3px #c7ccde inset;
    overflow: hidden;
    margin-bottom: 0;
}
ul.finance {
    /*border-bottom:2px solid #2ec1cc;*/
}

ul.finance>li.active {
    box-shadow: 0px 0px 4px #c7ccde;
}

ul.finance>li {
    display: inline-block;
}
ul.finance>li>.active,
ul.finance>li>.mui--is-active {
    background:#fff;
    /*border-bottom:2px solid #2ec1cc;*/
    color: #555;
} 
ul.finance>li a {
    display: block;
    padding: 1em 1.5em;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    cursor:pointer;
    font-weight: bold;
}
ul.finance>li a:hover {
    text-decoration: none;
}
ul.finance>li.active a,
ul.finance>li.mui--is-active a {
    color:#0d9fab;
}
.financeBtn {
    color:#fff;
    display:inline-block;
    width: calc(33.3333% - 14px);
    /*width:120px;
    font-size:20px;
    background:#2ec1cc;
    box-shadow:0px 5px 0px #02a4a8;*/
    padding: 24px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 16px;
    transition: all ease 0.5s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.financeBtn:last-child {
    margin-right: 0;
}
.financeBtn .desc {
    padding: 8px 0;
    font-size: 13px;
}

.financeBtn .action {
   /* padding-top: 24px;*/
    font-size: 28px;
	text-align:center;
}

.financeBtn.store {
    background: #02a4a8;
    border-left: 4px solid #FFFF00;
    box-shadow: 0px 2px 4px #39888a;
}

.financeBtn.sell {
    color: #424242;
    background: #FDD835;
    border-left: 4px solid #424242;
    box-shadow: 0px 2px 4px #F57F17;
}

.financeBtn.transform {
    color: #fff;
    background: #E91E63;
    border-left: 4px solid #9C27B0;
    box-shadow: 0px 2px 4px #C2185B;
}

.financeBtn.store .action {
    color: #FFFF00;
}

.financeBtn.store:hover,
.financeBtn.store:active,
.financeBtn.store:focus {
    box-shadow: 0px 4px 24px #39888a;
}

.financeBtn.sell:hover,
.financeBtn.sell:active,
.financeBtn.sell:focus {
    box-shadow: 0px 4px 24px #F57F17;
}

.financeBtn.transform:hover,
.financeBtn.transform:active,
.financeBtn.transform:focus {
    box-shadow: 0px 4px 24px #C2185B;
}

.financeBtn:focus ,.financeBtn:active ,.financeBtn:hover {
    /*background:#34cdd8;*/
}
.financeCard .footer .textBtn:hover .financeBtn2:hover {
    opacity:.8;
}
.financeCard .footer .btnWrap .financeBtn ,.financeCard .footer .btnWrap .textBtn ,.formFooter .btnWrap .financeBtn ,.formFooter .btnWrap .financeBtn2 {
    display:inline-block;
}
/*.formHorizontal label {
    text-align:right;
    margin-bottom:0;
    padding-top:7px;
    width:20%;
}
.stepTitle {
    color:#2ec1cc;
    border-left:4px solid #2ec1cc;
}*/
/*ACCORDION*/
#accordion {
  background: #FFF;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

#accordion .title {
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  -webkit-user-select: none;
  user-select: none;
  text-align:left;
  cursor: pointer;
}
#accordion .title span {
    display:inline-block;
}
#accordion .title span.caretIcon {
    display:inline-block;
}
.act-accordion-js .accordion-title-js.accordion-active + .accordion-content-js {
  width: 100% !important;
}

.item.tab-active-js {
  border-bottom: 5px solid #F96868;
}

.item_pc {
  display: block !important;
  padding: 10px 0 !important;
}

.item_pc ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.item_pc ul li {
  list-style: none;
  padding: 10px 0;
}

.item_pc ul li a {
  text-decoration: none;
  font-size: 20px;

  line-height: 26px;
  color: #F96868;
  display: inline-block;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}
.search-list-box2 {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-list-box2 li {
  float: left;
  padding: 0 0 20px 0;
  list-style: none;
  margin: 0;
  width: 33.3%;
  display: table-row;
  -webkit-user-select: none;
  user-select: none;
}
.search-list-box2 {
    padding:0 0 0 20px;
}
.search-list-box2 li .icon {
  color: #eee;
}

.search-list-box2 .list-group span {
  display: table-cell;
}
.coreWrapTable {
    display:table; 
    width:100%; 
    height:300px;
}
.coreWrapTd {
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;
}
.panelGary {
    background:#eee;
    padding:20px;
    margin-bottom:20px;

}
.btnGetBalance {
    margin-top: 1em;
}
.walletBalance {
    color: #02a4a8;
    font-weight: bold;
}
#finance .mui-table {
    color: #757575;
}
#finance .mui-table>thead>tr {
    /*border-color: #2ec1cc;*/
    /*background: #7C99B2;*/
    color: #7C99B2;
}

#finance .mui-table>thead>tr>th {
    border: 0;
    padding: 16px 8px;
}

#finance #historyList .mui-table tr th:first-child {
    padding-left: 24px;
}

#finance #historyList .mui-table tr td:first-child {
    color: #273648 ;
    font-weight: bold;
    padding-left: 24px;
}

#finance #historyList .mui-table tr td {
    border: 0;
}

#finance #historyList .mui-table tbody:nth-child(2) tr:nth-child(2n+1) {
    background: #edf3f7 ;
}

/*td.max {
    width:600px;
}*/

.listHistory {
    width: 100%;
    /*table-layout: fixed;*/
}
.listHistory .colTime {
    width: 13em;
}
.listHistory .colFrom {
    width: 8em;
    text-align: right;
}
.listHistory .colPoint {
    width: 6em;
    text-align: left;
}
.listHistory .colStatus {
    width: 4em;
    text-align: center;
    font-size: 1.4em;
}
.listHistory .colContent {
    min-width: 40%;
}
.listHistory .colNotice {
    width: 8em;
    text-align: center;
}
.listHistory .emptyData {
    padding-top: 3em;
    padding-bottom: 3em;
}

.relative {
    position: relative;
}
.refreshHistory {
    position: absolute; 
    right: 1.25em;
    top: 1em;
}

.statusIcon.orange, .orange  {
    color: #ff9800;
}
.statusIcon.green, .green  {
    color: #4caf50;
}
.statusIcon.red, .red  {
    color: #f44336;
}

.isPaidNotify[disabled] {
    background-color: #ccc !important;
}
.informed {
    color: #2196f3;
}

#finance #historyWrap {
    margin-top: 16px;
    padding: 0;
}

#finance #historyWrap #historyList {
    /*padding: 16px;*/
}

/*---------*/

.depositNote {
    padding: 1em;
    background: #ff9;
    border-left: 4px solid #424242;
    color: #424242;
}

.depositNoteTitle {

}
.depositNoteItem {
    margin-top: 1em;
    line-height: 2;
    font-size: .8125em;
}

#depositWrap #account_atm_lastFiveNumber-js {
    display: none;
}

#depositWrap #account_atm_lastFiveNumber-js.isDisplay {
    display: block;
}

/*---------*/
.noteList  {
    margin-bottom: 1em;
}
.noteList li {
    margin-top: .5em;
    padding-left: 1.5em;
    text-indent: -1.25em;
}

.noteList li::before {
    content: '※';
    margin-right: .5em;
}
#paymentStep.panel {
    margin-top:16px;
}

#paymentStep .paymentWay {
    display:none;
}

[data-style="paymentWay"] .container img {
    width:100%;
    margin-bottom: 8px;
}

#paymentStep .convenience {
    text-transform:none !important;
}

#paymentStep .convenience img {
    max-width: 20px;
}