    #verifyReload2, #validateCodeImg2 {
        cursor: pointer;
    }
    .isSendMsg {
        padding: 2em 0;
    }
    .input {
        vertical-align: top;
    }
    [name="phone"] {
        padding: 3px 8px !important;
    }