
.hidden {
    display: none !important;
}

a {
    cursor: pointer;
}

td {
    vertical-align: middle;
}

/*--------------*/

input:focus {
  outline : 0;
}
/*grid*/
.col12 {
    width:100%;
}
/*text*/
.textAccent {
    color:#ff5252;
}
.textPrimary {
    color:#1789ef;
}
.textBlue {
    color:#2196f3;
}
.textPurple {
    color:#673ab7;
}
.textOrange {
    color:#ef6c00;
}
.textTeal {
    color:#009688;
}
.textBtn {
    color:#6CB2F0;
}
 .textBtn:hover {
    color:#85c6ff;
}
     .green {
        color: green;
    }
    .red {
        color: red;
    }
 /*common style*/
 .bold {
     font-weight: bold;
 }
 .underline {
     text-decoration: underline;
 }
 /*page title*/
 .pageTitle {
    padding:15px 25px 25px 25px;
    text-align:center;
    text-shadow: 0px 2px 4px #333;
}
.pageTitle h2 {
    font-size:40px;
    line-height:50px;
    color:#fff252;
}
.pageTitle h4 {
    font-size:24px;
    line-height:32px;
    color:#fff;
    font-family: 'Ubuntu', sans-serif;
}
/*form 以及 light box*/
.formPagePc {
    font-size:18px;
    color:#5e5e5e;
    background:#fff;
    height:auto;
    position:absolute;
    top:100px;
}
[data-page] {
    display:none;
}
[data-page].pageShow {
    display:block !important;
}
[data-page].show {
    display:block;
}
.formPagePc[data-size="mobile"] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw(100vw-16px);
    height: calc(100vh-16px);
    margin: 8px;
    max-height:800px;
}
.mobile.formPagePc .container {
    overflow:auto;
    /*height:calc(100% - 80px);*/
    -webkit-overflow-scrolling: touch;
    padding-bottom:56px;
}
.formPagePc[data-size="lg"] {
    width:800px;
    left:calc(50% - 400px);
}
.formPagePc[data-size="md"] {
    width:500px;
    left:calc(50% - 250px);
}
.formPagePc[data-size="sm"] {
    width:200px;
    left:calc(50% - 100px);
}
.formFooter {
    margin-bottom:30px;
}
/*pop announce*/
/*#mask_wrap_size-js[data-style="pop"] .title {
    display:none;
}

#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js {
    padding:0;
}*/

/*carousel*/
#mask_wrap_size-js[data-style="login"] .mui-textfield>label {
    font-size:18px;
    line-height:18px;
    width:20px;
    top:20px;
}
#mask_wrap_size-js[data-style="login"] .mui-textfield input[type=text] ,#mask_wrap_size-js[data-style="login"] .mui-textfield input[type=password] {
    text-indent:25px;
}
#mask_wrap_size-js[data-style="login"] .title #mask_wrap_title_label-js {
    margin: auto;
}

#mask_wrap_size-js[data-style="login"] .title #mask_wrap_title_label-js img {
    width: auto;
    max-width: 200px;
    max-height: 80px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
/*#mask_wrap_size-js .title #mask_wrap_title_label-js {
    font-size:26px;
    display:block;
    margin-top:15px;
}*/
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .closeBtn {
    position:absolute;
    top:10px;
    right:15px;
    border-radius:50%;
    background:#fff;
    border:2px solid #555;
    width:36px;
    height:36px;
    text-align:center;
    cursor:pointer;
    font-size:inherit;
    padding:0;
}
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .closeBtn .fa {
    line-height:30px;
}
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .mui-btn {
    position: absolute;
    right: 30px;
    bottom: -15px;
}
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .btnNext ,.btnPrev {
    font-size:110px;
    line-height:110px;
    cursor:pointer;
    color:#fff;
    opacity:.8;
    top:30%;
    position:absolute;
}
#mask_wrap_size-js[data-style="pop"][data-size="lg"] #mask_wrap_content-js .popTitleBg {
    background:url("/material/point/mask_bg.png");
    position:absolute;
    bottom:-30px;
    left:10px;
    width:calc(100% - 20px);
    padding:20px;
    color:#fff;
}
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .popTitle {
    line-height:36px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width:100%;
}
#mask_wrap_size-js[data-style="pop"][data-style="mobile"] #mask_wrap_content-js .popTitle {
    line-height:36px;
    max-height:112px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #mask_wrap_content-js .popTitleBg {
    background:url("/material/point/mask_bg.png");
    position:absolute;
    bottom:-70px;
    left:10px;
    width:calc(100% - 20px);
    padding:20px;
    color:#fff;
}
#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #mask_wrap_content-js .mui-btn {
    position: absolute;
    bottom: -150px;
    float: none;
    right: calc(50% - 54px);
}
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .btnPrev {
    left:-130px;
}
#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .btnNext {
    right:-130px;
}
.btnNext .fa ,.btnPrev .fa {
    margin:0 30px;
}

/*new pop*/
#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .btnNext ,#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .btnPrev {
    top:auto !important;
    bottom:0 !important;
    color:#999;
    font-size:60px;
}
#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .btnPrev {
    left:0%;
}
#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .btnNext {
    right:50%;
}
#mask_wrap_size-js[data-style="pop"] #modal-footer .btnNext ,.btnPrev {
    font-size:110px;
    line-height:110px;
    cursor:pointer;
    color:#fff;
    opacity:.8;
    top:30%;
    position:absolute;
}
/*end*/

#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .btnNext:hover ,#mask_wrap_size-js[data-style="pop"] #mask_wrap_content-js .btnPrev:hover {
    opacity:1;
}
#mask_wrap_size-js[data-style="pop"] #carouselWrapOuter {
    overflow:hidden;
    position:relative;
    width:100%;
}
#mask_wrap_size-js[data-style="pop"] .title {
    display:none;
}
#mask_wrap_size-js[data-style="pop"] .contentTitle {
    padding:10px 0;
    font-size:24px;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
#mask_wrap_size-js[data-style="pop"][data-size="lg"] #carouselWrapOuter {
    height:500px;
}
#mask_wrap_size-js[data-style="pop"][data-size="lg"] .carouselItem {
    left:0;
    display:block;
    transition:all 400ms ease;
    position:relative;
}
#mask_wrap_size-js[data-size="mobile"][data-style="pop"] .carouselItem {
    left:0;
    display:block;
    transition:all 400ms ease;
    position:relative;
}
#mask_wrap_size-js[data-style="pop"] .carouselItem .item-js {
    float:left;
    position:relative;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 66px);
}
#mask_wrap_size-js[data-style="pop"] .carouselItem .item-js img {
    max-width:100%;
    height:auto;
}
/*pop announce*/
.formPagePc .title {
    /*padding:20px;*/
    text-align:center;
    /*border-bottom:1px solid #c7c7c7;*/
}
.mobile.formPagePc .title {
    padding:10px;
}
.formPagePc .container {
    width:100%;
    margin:0 auto;
    padding:20px;
    padding-bottom:0;
}
/* modal */

#modalOverlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}
/*modal mask */
.modalMask{
    position: fixed;
    z-index: 5;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: block; 
    will-change: opacity;
    opacity: 0.5;
}
#mask_wrap_size-js .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
}
/*z-index需比聊天視窗多1*/
#mask_wrap_size-js.modal-fixed-footer {
    padding: 0;
    max-height:80%;
    min-height:20%;
    position:fixed;
    z-index: 1000000000;

}
#mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] {
    padding: 0;
    max-height:100%;
    min-height:20%;
    position:fixed;
}

.modal-fixed-footer .footer{
    text-align:left;
}
#mask_wrap_size-js.modal-fixed-footer .modal-content {
    position: relative;
    width: 100%;
}
#mask_wrap_size-js.modal-fixed-footer .modal-content #content{
    width:100%;
    overflow-y: auto;
    overflow-x: auto;

}
#mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-content #content{
    width:100%;
    -webkit-overflow-scrolling: touch;
}
#mask_wrap_size-js.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -56px;
}
#mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0px;
}
#moadl-footer {
    text-align: right;
}
@media screen and (min-height:935px) and (max-height:1300px){
    #content {
        max-height:690px;
    }
    #mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-content #content{
        max-height:calc(100% - 80px);
        padding-bottom:56px;
    }
}
@media screen and (min-height:815px) and (max-height:934px){
    #content {
        max-height:590px;
    }
    #mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-content #content{
        max-height:calc(100% - 80px);
        padding-bottom:56px;
    }
}
@media screen and (min-height:700px) and (max-height:814px){
    #content {
        max-height:490px;
    }
    #mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-content #content{
        max-height:calc(100% - 80px);
        padding-bottom:56px;
    }
}
@media screen and (min-height:610px) and (max-height:699px){
    #mask_wrap_size-js.modal-fixed-footer .modal-content #content {
        max-height:340px;
    }
    #mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-content #content{
        max-height:calc(100% - 80px);
        padding-bottom:56px;
    }
}
@media screen and (max-height:609px){
    #content {
        max-height:240px;
    }
    #mask_wrap_size-js.modal-fixed-footer[data-size="mobile"] .modal-content #content{
        max-height:calc(100% - 80px);
        padding-bottom:56px;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
    .formPagePc .container {
         width:calc(100% - 17px);
    }
}
/*pc light box close btn*/
.formPagePc .closeBtn {
    font-size:24px;
    padding:10px;
    position:absolute;
    top:8px;
    right:0;
    cursor:pointer;
    float:right;
    width:50px;

    transition:opacity 0.3s ease-in-out;
    -moz-transition:opacity 0.3s ease-in-out;
    -webkit-transition:opacity 0.3s ease-in-out;
    -o-transition:opacity 0.3s ease-in-out;
}
/*mobile light box close btn*/
#mask_wrap_size-js[data-size="mobile"].formPagePc .closeBtn {
    font-size:24px;
    padding:10px;
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    float:right;
    width:50px;
    transition:none;
}
.formPagePc .closeBtn img {
    display:block;
    width:100%;
}
.formPagePc .closeBtn:hover {
    opacity:.7;
}
.about .formGroup {
    padding:30px 0 ;
}
.formGroup {
    padding-top:10px;
}
.formGroup label {
    font-weight:400;
    margin-bottom:5px;
    display:inline-block;
    font-size:16px;
}
.formGroup.err {
    margin:0 0 35px;
}
.mui-textfield.err input ,.mui-textfield.err .progressBar {
    border-width:2px;
    border-color:#F44336;
}
.mui-textfield.err label {
    color:#F44336;
}
.helpBlock {
    display:block;
    margin:0;
    font-size:14px;
    padding:0 0 0 5px;
    opacity:1;
    color:#999;
}
.helpBlock.err {
    color:#ff5252;
    padding:5px;
    width:calc(100% - 10px);
    top:40px;
}
.contentTextLeft {
    line-height:36px;
    margin:20px 0 ;
}
.formList {
    margin:20px 0;
}
.formList li {
    padding:10px 0;
    font-size:16px;
    border-bottom:1px solid #d7d7d7;
    cursor:pointer;
}
.formList li > div {
    padding:5px 0;
}
.formList li span {
    margin:0 0 0 10px;
}
.formGroup .verifyWrap {
    float:none;
}
.formGroup .verifyShow {
    display:inline-block;
}
.mui-textfield.inline {
    margin-bottom:3px;
}
.mui-form--inline.formInline .mui-textfield {
    margin-bottom:10px;
}
.formGroup .verifyShow span.number {
    font-size:14px;
    margin:0;
    background:#6e7c88;
    padding:6px;
    color:#fff;
    box-sizing:border-box;
}
.formGroup .verifyShow .verifyReload {
    margin:0 0 0 3px;
    cursor:pointer;
}
.verifyInput {
    display:inline-block !important;
    width:4em !important;
}
.hightLight {
    /*background:#FAFCFD;
    padding:30px;
    box-shadow: 0px 2px 8px #eae4e8;
    border-radius: 4px;*/
}
/*steps*/
.step {
    display:block;
    float:left;
    width:calc(100% - 40px);
    margin:20px;
}
.steps {
    position:relative;
    padding:0;
    margin:0;
    text-align:center;
}
.steps:first-child:before {
    width:0;
}
.steps:last-child:after {
    width:0;
}
.stepsTitle {
    margin-top:10px;
    display:block;
    font-size:16px;
    color:#555;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:normal;
    white-space:nowrap;
}
.stepIcon {
    width:40px;
    height:40px;
    line-height:42px;
    color:#fff;
    position:relative;
    display:inline-block;
    z-index:1;
    border-radius:50%;
    background:#eee;
}
.steps.current .stepIcon {
    background:#62a8ea;
}
.steps.disabled {
    pointer-events:none;
    cursor:none;
}

.steps:before {
    left:0;
}
.steps:after {
    right:0;
}
.steps:after ,.steps:before {
    position:absolute;
    top:18px;
    z-index:0;
    width:50%;
    height:4px;
    content:'';
    background:#eee;
}
.steps.current:after ,.steps.current:before {
    background:#62a8ea;
}
.steps.disabled:after ,.steps.disabled:before {
    background:#eee;
}
/*step*/
/*checkbox*/
.checkbox {
    font-size:16px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label span {
    color:#7da2d5;
    cursor:pointer;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
/*checkbox*/
/*radio*/
label.radio {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 18px;
    vertical-align:middle;
}
input[type=radio] {
    display: none;
}
label.radio:before {
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: #ccc;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 8px;

}
input[type=radio]:checked + label.radio:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 12px;

    transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
}
.mobile input[type=radio]:checked + label.radio:before {
        line-height:17px;
    }
/*upload input*/
/*.progressBar {
    position:relative;
    width:70%;
}
.progressBar input.err {
    border-color:#F44336;
    border-width:2px;
}
.progressBar .text {
    color:#555;
    position:absolute;
    top:10px;
    left:40%;
    z-index:4;
}
.progressBg {
    background:#2ec1cc;
    position:absolute;
    width:66%;
    height:30px;
    left:0;
    bottom:2px;
    z-index:3;

	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}
.progressBg:hover {
    width:90%;
}
.progressRight {
    width:27%;
    position:absolute;
    bottom:0;
    right:0;
}*/
.progressBar {
    border-bottom:1px solid #ccc;
    width:calc(100% - 130px);
    display:inline-block;
    cursor:pointer;
    height:36px;
    line-height:36px;
    color:#ccc;
}
.progressBg {
    width:60%;
    line-height:30px;
    background:#2ec1cc;
    display:inline-block;
    height:100%;
    color:#fff;
    text-align:center;
    transition:width .5s ease;
}
.progressBg:hover {
    width:100%;
}
.delay5s {
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
}
.mui-textfield input[type=text],
.mui-textfield input[type=tel],
.mui-textfield input[type=number] {
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid #B0BEC5;
    padding: 9px 0 9px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
}
.mui-textfield input[type=tel]:focus,
.mui-textfield input[type=number]:focus {
    border-color: #2196F3;
    border-width: 2px;
}

/*upload input*/
.cssTable {
    display:table;
}
.cssTr {
    display: table-row;
}
.cssTd {
    width:33%;
    display:table-cell;
    padding-top:10px;
}
.cssTd img {
    width:100%;
}
.borderGreen {
    border-color:#2ec1cc !important;
}
.formTitle {
    border-left:5px solid #ccc;
    font-size:22px;
    line-height:26px;
    padding-left:15px;
    color:#555;
}
.col30.formTitle {
    width:calc(30% - 20px);
}
/*ERROR MESSAGE*/
.input .error-message {
    margin-top: .5em;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 80%;
    line-height: 80%;
    color: #e51c23;
}
.input .error-message:hover {
    color: #e51c23;
}
.input.error {
    margin-bottom: 20px;
}
.input.error .error-message {
    opacity: 1;
    visibility: hidden;
    line-height: 1.2;
}
.input.error input,
.input.error textarea {
    border-width: 2px;
    padding-bottom: 8px;
    border-color: #e51c23;
}

/*TABLE STYLES*/
/*.mui-table {
    color:#ccc;
}*/
.table {
    width:100%;
    margin:0;
    color:#afafaf;
    background:#fff;
    border-collapse:collapse;
}
.table.tableBordered {
    color:#333;
}
.tableLine td {
    border:0;
    border-bottom:1px solid #eee;
    vertical-align:middle;
}
.table td.right ,.table th.right {
    text-align:right;
}
.table td.left ,.table th.left {
    text-align:left;
}
.tableLine>tbody>tr:last-child>td {
    border-bottom:none;
}
.table td ,.table th {
    padding: 16px 8px;
    line-height:18px;
}
.tableLine th {
    font-weight:500;
    border-bottom:1px solid #eee;
}
.table.tableBordered th {
    font-weight:600;
}
.table.tableBordered.tableBlue th {
    color:#39a1f4;
}
.tableBordered ,.tableBordered td, .tableBordered th {
    border:1px solid #ccc;
}
.tableBordered td {
    padding:15px !important;
    line-height: 1.5;
}
.table.striped td, .table.striped th {
    padding:10px;
    color:#737373;
    line-height:30px;
}
.table.striped tr:nth-last-of-type(odd) {
    background:#f4f4f4;
}
.table.striped tr:nth-last-of-type(even) {
    background:#efefef;
}
.table.striped tr.sticky:nth-last-of-type(odd) {
    background:#fcf4e3;
}
.table.striped tr.sticky:nth-last-of-type(even) {
    background:#f9ebd4;
}
/*label*/
.label {
    display:inline-block;
    padding:2px 5px;
    font-size:14px;
    vertical-align:middle;
    text-align:center;
    border-radius:2px;
    color:#fff;
}
.labelType01 {
    background:#36c6d3;
}
.labelType02 {
    background:#3d6b75;
}
.labelType03 {
    background:#659be0;
}
.labelType04 {
    background:#F1C40F;
}
/*loading*/
.loadingWrap {
    width:100%; 
    height:300px;
}
.loadingCenter {
    vertical-align:middle; 
    text-align:center;
}
.loadingCenter img {
    width:unset;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #c8c8c8;
  font-size: 10px;
  margin: 10px auto 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
/*分頁*/
.multiSelect {
    display:inline-block !important;
}
.mobile .pageNumber ,.mobile .pageNumber select option {
    color:#333;
}
.pageNumber span {
    margin:0 5px;
}
.mobile .pageNumber .mui-form--inline .mui-btn {
    padding:0 15px;
}
.mobile .pageNumber .multiSelect {
    width:90px;
}
/*分頁*/
/*tabs 目前用在電子遊戲頁，所以前面用slotGame做限定*/
.brandTab {
    width: 310px;
    margin: 0 auto;
    display: block;
}
.brandTab .mui-tabs__bar>li>a {
    font-size:20px;
    line-height:48px;
    cursor:pointer;
}
.brandTab .mui-tabs__bar>li.mui--is-active>a {
    background:#fff;
    color:#333;
}
.brandTab .mui-tabs__bar>li.mui--is-active {
    border:none;
}
.brandTab ul li {
    text-align:center;
    float:left;
    width:150px;
    background:#eee;
    color:#333;
}
/*.slotGame ul {
    margin-top:30px;
}
.slotGame .mui-tabs__pane.mui--is-active {
    width:100%;
    padding:20px 0 0 0;
    display:inline-block;
}
.slotGame .mui-tabs__bar.mui-tabs__bar--justified>li {
    margin-right:8px;
}
.slotGame .mui-tabs__bar>li.mui--is-active {
    border:none;
}
.slotGame .mui-tabs__bar>li.mui--is-active>a  {
    color:#ffbc00;
}
.slotGame ul li ,.slotGame ul li a {
    color:#fff;
    cursor:pointer;
    height:40px;
    line-height:40px;
}
.slotGame ul li a:hover {
    color:#ffbc00;
}
.slotGame ul li {
    background-color:#000;
    color:#fff;
    border-radius:2px;
}*/
/*tabs*/
/*mailbox*/
.mailContent {
    margin-left: 1.5em;
    margin-top: .5em;
    padding-top: 1em;
    font-size:16px !important;
    color:#555;
    line-height: 1.7;
    border-top: 1px dotted #ddd;
    display:none;
}
.collections {
    color:#000;
    margin:10px 0;
    border:1px solid #e0e0e0;
    border-radius:2px;
    overflow:hidden;
    list-style-type:none;
}
.collections .collectionItem {
    background:#fff;
    line-height:20px;
    padding:10px 20px;
    margin:0;
    border-bottom:1px solid #e0e0e0;
    list-style-type:none;
    cursor:pointer;
    position:relative;
}
.collections .collectionItem.open .mailContent {
    display:block;
}
.collections .collectionItem .mailTitle {
    font-size:18px !important;
    line-height:22px !important;
}
.collections .collectionItem .releaseTime {
    float:right;
}
.collections .collectionItem:nth-child(odd) {
    background:#f8fbfd;
}
.collections .collectionItem:hover {
    background:#eef1f5;
}
.collections .collectionItem.open:hover {
    background:none;
}
.collections .collectionItem .icOpen,
.collections .collectionItem.open .icClose {
    display: none;
}
.collections .collectionItem.open .icOpen,
.collections .collectionItem .icClose {
    display: inline-block;
}
.gray {
    color: gray;
}
/*mailbox*/

/*公告內的HTML設定*/
.anserContent ol {
    padding-left:40px;
    list-style:decimal;
}
.anserContent ul {
    padding-left:40px;
    list-style:circle;
}
.anserContent table {
    color:#555;
    display:table;
}
.anserContent table {
    display:table;
    border-collapse:collapse;
    border-spacing:0;
}
.anserContent table ,.anserContent th ,.anserContent td {
    border:none;
}
.anserContent tr {
    display:table-row;
}
.anserContent thead {
    border-bottom:1px solid #d0d0d0;
}
.anserContent td,.anserContent  th {
    padding:15px 5px;
    display:table-cell;
    text-align:left;
    vertical-align:middle;
}
.anserContent table tr:nth-child(odd) {
    background-color:#f2f2f2;
}
/*pc摺疊式樣式*/
#icon-js .qwrap.textContentShow .title .fa-minus ,.qwrap.textContentShow .anserContent {
    display:block !important;
}
.qwrap .fa-minus ,.qwrap .fa-plus ,.qwrap.textContentShow .title .fa-plus {
    display:none;
}
.qwrap .fa-minus ,.qwrap .fa-plus {
    display:none;
}
#icon-js .qwrap.textContentShow .fa-minus ,#icon-js .qwrap .fa-plus ,.qwrap.textContentShow .anserContent {
    display:block !important;
}
#icon-js .qwrap.textContentShow .fa-plus ,#icon-js .qwrap .fa-minus {
    display:none !important;
}
.qwrap ,.qwrap .title ,.qwrap .anserContent {
    position:relative;
}
.faq .qwrap .title {
    padding:15px 30px 15px 0;
    display:block;
    margin:0;
    color:#333;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
}
.qwrap .title .fa-minus ,.qwrap .title .fa-plus {
    position:absolute;
    top:18px;
    right:15px;
    box-sizing:border-box;
}
.qwrap+.qwrap {
    border-top:1px solid #eee;
}
.qwrap .anserContent {
    padding:15px 0;
    color:#888;
    display:none;
}
/*pc摺疊式樣式*/
/*moble 摺疊樣式*/
.mobile #icon-js .qwrap.textContentShow .title .fa-minus ,.mobile .qwrap.textContentShow .anserContent {
    display:block !important;
}
.mobile .qwrap .fa-minus ,.mobile .qwrap .fa-plus ,.mobile .qwrap.textContentShow .title .fa-plus {
    display:none;
}
.mobile .qwrap .fa-minus ,.mobile .qwrap .fa-plus {
    display:none;
}
.mobile #icon-js .qwrap.textContentShow .fa-minus ,.mobile #icon-js .qwrap .fa-plus ,.mobile .qwrap.textContentShow .anserContent {
    display:block !important;
}
.mobile #icon-js .qwrap.textContentShow .fa-plus ,.mobile #icon-js .qwrap .fa-minus {
    display:none !important;
}
.mobile .qwrap ,.mobile .qwrap .title ,.mobile .qwrap .anserContent {
    position:relative;
}
.mobile .faq .qwrap .title {
    padding:15px 30px 15px 0;
    display:block;
    margin:0;
    color:#333;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
}
.mobile .qwrap .title .fa-minus ,.mobile .qwrap .title .fa-plus {
    position:absolute;
    top:18px;
    right:15px;
    box-sizing:border-box;
}
.mobile .qwrap+.qwrap {
    border-top:1px solid #eee;
}
.mobile .qwrap .anserContent {
    padding:15px 0;
    color:#888;
    display:none;
}
/*moble 摺疊樣式*/
/*qrcode*/
.wechatQRcode {
    display: block;
    margin: 1em 0;
    width: 100%;
    max-width: 200px;
}
.popupQrcod {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000000001 !important;
    background-color: rgba(255,255,255,1);
}
.popupQrcod .qrcode {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.qrcode .title {
    font-size: 2em;
}

.personalInfo .select {
    margin-top: 1em;
    padding: .25em;
    width: 100%;
    max-width: 16em;
}
/*公告內的HTML設定*/
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/*loading*/
@media screen and (max-width:321px){
    .brandTab {
        width:100%;
    }
    .brandTab ul li {
        width:50%;
    }
}
@media screen and (min-width:500px) {
    .formPagePc[data-size="mobile"] {
        max-width:500px;
        left:calc(50% - 250px);
    }
    #mask_wrap_size-js[data-style="pop"][data-size="mobile"] #mask_wrap_content-js .popTitleBg {
        top:200px;
    }
    #mask_wrap_size-js[data-style="pop"][data-size="mobile"] #mask_wrap_content-js .btnNext ,#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #mask_wrap_content-js .btnPrev {
        top:28%;
    }
    #mask_wrap_size-js[data-style="pop"][data-size="mobile"] #mask_wrap_content-js .mui-btn {
        bottom:-120px;
    }
    /*new pop*/
    #mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .btnNext ,#mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .btnPrev {
        top:28%;
    }
}
@media screen and (max-width:500px) {
    .mobile .col30 ,.mobile .col70 {
        width:100% !important;
    }
    .formTitle {
        margin:15px 0;
    }
    .progressRight {
        width:35%;
    }
    .mui-form--inline.formInline .mui-textfield {
        width:calc(100% - 140px);
        display:inline-block;
    }
    .collections .collectionItem .mailTitle {
        margin-left: 1.25em;
        margin-top: .25em;
    }
    .collections .collectionItem .releaseTime {
        float:none;
        display:inline-block;
        text-align:right;
    }
}
@media screen and (max-width:400px) {
    .progressBar {
        width:100%;
    }
    .mui-textfield.inline .uploadBtn {
        display:none;
    }
    .mobile .pageNumber .mui-form--inline .pages {
        display:block;
    }
    .collections .collectionItem {
        padding:10px;
    }
}
@media screen and (max-width:374px) {
    .checkbox label {
        font-size:14px;
    }
    #mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .popTitleBg {
        top:130px;
        width:calc(100% - 36px);
        padding:10px;
    }
    .mobile #icon-js .qwrap .fa-minus, .mobile #icon-js .qwrap .fa-plus {
        display:none !important;
    }
    .mobile #icon-js .qwrap.textContentShow .title .fa-minus {
        display:none !important;
    }
    .mobile .qwrap .mainTitle .date {
        right:10px;
    }
    /*new pop*/
    #mask_wrap_size-js[data-style="pop"][data-size="mobile"] #modal-footer .popTitleBg {
        top:130px;
        width:calc(100% - 36px);
        padding:10px;
    }
}
