/*
 * iweb52-style16
 *
 * Copyright 2016, TANK
 * 
 * 
 * 2016 / 11 / 01
 */


.wow {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
#h1{
	position: fixed;
    top: 0;
    opacity: 0;
    z-index: -999999;

}
.tit h3 {
	font-family: 'Nunito', sans-serif, 'cwTeXYen', serif;
	font-size: 30px;
	color: #3e3e3e;
	font-weight: normal;
}

.tit h3 b {
	font-size: 16px;
	color: #848484;
	display: block;
	font-weight: normal;
	line-height: 10px;
}


/* + aboutWrap
*----------------------------------------------------------------------------*/
#aboutWrap {
	padding: 50px 0;
}

#aboutWrap p ,
#aboutWrap h3 ,
#aboutWrap article {
	margin: 20px 0;
	text-align: center;
	color: #fff;
	font-family: 'Nunito', sans-serif, 'cwTeXYen', serif;
	font-size: 20px;
	font-weight: normal;
	animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
}

#aboutWrap h3 {
	font-size: 30px;
	-webkit-animation-delay: 0.5s;
}

#aboutWrap article {
	margin: 40px auto 20px;
	width: 50%;
	font-size: 16px;
	line-height: 170%;
	-webkit-animation-delay: 1s;
}

#aboutWrap p.more {
	-webkit-animation-delay: 1.5s;
}

#aboutWrap p.more a {
	overflow: hidden;
	position: relative;
	margin: 30px 0 0;
	padding: 2px 40px;
	border: 1px #fff solid;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}

#aboutWrap p.more a:hover {
	color: #fff;
}

#aboutWrap p.more a:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: -100%;
	display: block;
	background: #222;
	transition: all 0.4s ease;
	z-index: -1;
}

#aboutWrap p.more a:hover:after {
	left: 0;
}


/* + productWrap
*----------------------------------------------------------------------------*/
#productWrap {
	/*overflow: hidden;
	background: url(/images/img-productBg.jpg) repeat 0 0;*/
}

#productWrap section {
	position: relative;
}

#productWrap .tit ,
#productWrap .bd ul {
	overflow: hidden;
	margin: 20px 0 30px;
}

#productWrap .tit h3 ,
#productWrap .tit .poonLink {
	display: inline-block;
	width: 49%;
}

#productWrap .tit h3 {
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}

#productWrap .tit .poonLink {
	text-align: right;
}

#productWrap .tit .poonLink a {
	margin: 0 10px;
	padding: 5px 15px;
	border: 2px #9e9e9e solid;
	display: inline-block;
	color: #9e9e9e;
}

#productWrap .tit .poonLink a:hover ,
#productWrap .tit .poonLink a.action {
	border: 1px #1b1b1b solid;
	background: #1b1b1b;
	color: #fff;
}

#productWrap .productList {
	position: relative;
	width: 100%;
}
#productWrap .productMobile {
	display:none;
}

#productWrap .heid {
	position: absolute;
	width: 100%;
	right: -100%;
}

#productWrap .hd a {
	position: absolute;
	top: 40%;
	z-index: 10;
}

#productWrap .hd a.prev {
	left: 0;
}

#productWrap .hd a.next {
	right: 0;
}

#productWrap .bd {
	margin: 0 30px;
}

#productWrap .bd ul li {
	position: relative;
	float: left;
	width: 25%;
}

#productWrap .bd ul li .productPhoto ,
#productWrap .bd ul li .info {
	margin: 0 10px;
}


#productWrap .bd ul li .info {
	overflow: hidden;
	position: absolute;
	padding: 10px;
	border-top: 2px #fff solid;
	background: rgba(0,0,0,0.6);
	bottom: 0;
}

#productWrap .bd ul li .info h3 ,
#productWrap .bd ul li .info p {
	overflow: hidden;
	width: 285px;
	height: 22px;
	line-height:22px;
	font-size: 12px;
	color: #fff;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#productWrap .bd ul li .info h3 a {
	font-size: 16px;
	color: #fff;
}

#productWrap .bd ul li .info .more {
	position: absolute;
	right: 15px;
	bottom: 15px;
	z-index: 2;
}

#productWrap .slogan {
	margin: 40px 0;
	text-align: center;
	animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
}

#productWrap .slogan span {
	padding-bottom: 15px;
	border-bottom: 1px #3e3e3e solid;
	font-family: 'Nunito', sans-serif, 'cwTeXYen', serif;
	font-size: 35px;
	font-weight: bold;
}

/* + contWrap
*----------------------------------------------------------------------------*/
#contWrap {
	overflow: hidden;
	background: url(/images/22/index/img-contactBg.jpg) no-repeat fixed center top / cover;
	color: #fff;
}

#contWrap a {
	color: #fff;
}

#contWrap .list {
	margin-right: 5%;
	padding: 25px 0 0;
	float: left;
	width: 45%;
	animation-name: fadeInLeft;
	-webkit-animation-name: fadeInLeft;
}

#contWrap .list:last-child {
	margin-right: 0;
	margin-left: 5%;
	background: url(/images/22/index/img-line.png) repeat-y 120px 0;
	animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight;
}

#contWrap .list #fb-wrap ,
#contWrap .list .box {
	margin-left: 120px;
}

#contWrap .tit {
	margin-bottom: 25px;
	animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	-webkit-animation-delay: 1s;
}

#contWrap .tit h3 {
	color: #fff;
	display: inline-block;
}

#contWrap .tit h3 b {
	text-align: right;
}

#contWrap .list .box {
	padding: 30px;
	padding-left: 0;
	background: url(/images/22/index/img-line.png) repeat-y 0 0;
}

#contWrap .list .box h3 ,
#contWrap .list .box p {
	margin: 10px 0;
	padding-left: 30px;
}

#contWrap .list .box p {
	animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight;
}

#contWrap .list .box p {
	-webkit-animation-delay: 0.5s;
}

#contWrap .list .box p:nth-child(3) {
	-webkit-animation-delay: 1s;
}

#contWrap .list .box p:nth-child(4) {
	-webkit-animation-delay: 1.5s;
}

#contWrap .list .box p:nth-child(5) {
	-webkit-animation-delay: 2s;
}

#contWrap .list .box p:nth-child(6) {
	-webkit-animation-delay: 2.5s;
}

#contWrap .list .box h3 {
	border-left: 3px #fff solid;
}

#contWrap .list #newWrap .bd {
	margin-top: 40px;
}

#contWrap .list #newWrap .bd ul li {
	overflow: hidden;
}

#contWrap .list #newWrap .bd ul li .date ,
#contWrap .list #newWrap .bd ul li .info {
	margin: 10px 0;
	float: left;
	width: 21%;
}

#contWrap .list #newWrap .bd ul li .date p {
	font-family: 'Montaga', serif;
	font-size: 16px;
	text-align: right;
	line-height: 5px;
}

#contWrap .list #newWrap .bd ul li .date p:first-child {
	font-size: 28px;
	line-height: 50px;
}

#contWrap .list #newWrap .bd ul li .info {
	margin-left: 2%;
	padding: 10px 5%;
	padding-right: 0;
	width: 72%;
	border-bottom: 1px #3b3b3a solid;
}

#contWrap .list #newWrap .bd ul li .info h4 ,
#contWrap .list #newWrap .bd ul li .info article {
	overflow: hidden;
	height: 27px;
	font-size: 20px;
	color: #fff;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#contWrap .list #newWrap .bd ul li .info article {
	margin: 15px 0 10px;
	height: 45px;
	font-size: 14px;
	color: #a2a1a1;
	-webkit-line-clamp: 2;
	line-height: 150%;
    font-size: 16px;
}

@media screen and (max-width: 1280px) {
	#productWrap .productList {
		/*display:none;*/
	}
	#productWrap .productMobile {
		display:block;
	}
	#productWrap .productMobile figcaption h2{
		border-bottom: 1px solid #cccccc;
		border-top: 1px solid #d4d4d4;
		margin-bottom: 10px;
		text-align: center;
		font-size: 15px;
		padding: 6px 0;
		background: linear-gradient(to bottom, rgb(241, 241, 241) 1%,rgb(199, 199, 199) 51%,rgb(208, 208, 208) 99%);
		color: #000;
	}
	#productWrap .productMobile figcaption .cate-insdie{
		overflow:hidden;
	}
	#productWrap .productMobile figcaption .cate-insdie li{
		margin-bottom:10px;
	}
	#productWrap .productMobile figcaption .cate-insdie li p,
	#productWrap .productMobile figcaption .cate-insdie li h3{
		margin:5px;
	}
	#productWrap .productMobile figcaption .cate-insdie li p a{
		border: 1px solid #bbb;
		border-radius: 10px;
		background-size: cover;
	}
	#productWrap .productMobile figcaption .cate-insdie li h3{
		font-size: 12px;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
/************ = �拇�㗇�� = ************/
/* +width:1024 ��
*----------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
	#contWrap .list #newWrap .bd ul li .date {
		width: 26%;
	}
	#contWrap .list #newWrap .bd ul li .info {
		width: 67%;
	}
}


/* +width:768 ��
*----------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	#productWrap .bd ul li {
		width: 50%;
	}
	#contWrap .list ,
	#contWrap .list:last-child {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	#contWrap .list #newWrap .bd ul li .date {
		width: 15%;
	}
}


/* +width:640 ��
*----------------------------------------------------------------------------*/
@media screen and (max-width: 640px) {
	#contWrap .list #newWrap .bd ul li .info {
		margin-left: 5%;
	}
	#aboutWrap article {
		width: 90%;
	}
}


/* +width:480 ��
*----------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
	#productWrap .tit h3 {
		width: 40%;
	}
	#productWrap .tit .poonLink {
		width: 59%;
	}
	#productWrap .bd ul li {
		width: 100%;
	}
	#contWrap .list .box ,
	#contWrap .list:last-child {
		background: none;
	}
	#contWrap .list #fb-wrap ,
	#contWrap .list .box {
		margin-left: 15px;
	}
	#contWrap .list #newWrap .bd ul li .date ,
	#contWrap .list #newWrap .bd ul li .info {
		width: 100%;
	}
	#contWrap .list #newWrap .bd ul li .date {
		margin: 0;
	}
	#contWrap .list #newWrap .bd ul li .date p:first-child ,
	#contWrap .list #newWrap .bd ul li .date p {
		display: inline-block;
		line-height: normal;
		font-size: 20px;
	}
	#contWrap .list #newWrap .bd ul li .date p:first-child {
		margin-left: 20px;
	}
	#contWrap .list #newWrap .bd ul li .date p:first-child:after {
		 content: " / "
	}
}

/* +width:450 ��
*----------------------------------------------------------------------------*/
@media screen and (max-width: 450px) {
	#productWrap .tit h3 ,
	#productWrap .tit .poonLink {
		width: 100%;
	}
	#productWrap .slogan span {
		padding-bottom: 0px;
	}
}

a.photo {
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 101%;
    display: block;
}

a.photo img {
    width: 100%;
    max-width: inherit;
}

#productWrap section {
    overflow: hidden;
    margin: 0 auto;
    width: 1360px;
}