[data-bg="lottery"] {
    background-image:url("../images/slot_bg.jpg") !important;
}
.howLottery .gameCardsRight {
    background:url(../images/right_bg_pink.png);
}
.howLottery .playTestBtn {
    color:#fff;
    background:#c65f94;
}
.howLottery .playTestBtn:hover {
    color:#fff;
    background:#d88cb3;
}
.howLottery .playNowBtn {
    color:#fe48a6;
    background:#fff;
}
.howLottery .playNowBtn:hover {
    color:#fff;
    background:#fe48a6;
}
/**/
.gameCards.howLottery {
    margin:0 0 70px 0; 
}
.howLottery .gameCards_bg .girl {
    bottom:0;
}
.howLottery .gameCards_bg .logo {
    top:15px;
    left:15px;
}
.gameCards.howLottery .gameCards_bg {
    background:url(../images/howlottery_bg.jpg);
}