[data-bg="mailbox"] {
    background-image:url("../images/announce_bg.jpg") !important;
    background-repeat:no-repeat;
    background-size:cover;
}
[data-is-read="false"]:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: -7px;
        margin-right: 2px;
        border-radius: 50%;
        background-color: #ff0000;
        vertical-align: middle;
    }
.mailTitle {
        word-wrap: break-word;
    }
.mailContent {
        white-space: pre-line;
        text-align: justify;
        word-wrap: break-word;
    }
.mailLi {
        position: relative;
    }
.releaseTime {
        margin-right: 2em;
    }
.mailChk {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
    }
.mailChkAll {
        display: inline-block;
        padding-right: 8px;
        vertical-align: middle;
    }