#promote_wrap ul {
    list-style: disc;
    padding-left: 40px
}

#promote_wrap ul li {
    margin-left: 0px;
    padding-left: 20px;
}
[data-bg="promote"] {
    background-image:url("../images/promote_bg.jpg") !important;
    background-repeat:no-repeat;
    background-position:top;
    background-color:#000;
    background-size:cover;
}
.panel.promote {
    padding:30px;
}
.promoteCard {
    width:100%;
    border-bottom:4px solid #ff6a00;
    background:#eee;
    margin-bottom:20px;
}
.promoteCard .textContent {
    padding:25px;
    width:100%;
    background:#fff;
    display:none;
    transition: display ease-in-out 0.3s;
    -moz-transition: display ease-in-out 0.3s;
    -webkit-transition: display ease-in-out 0.3s;
    -o-transition: display ease-in-out 0.3s;
}
.promoteCard .callToActionWrap {
    text-align: right;
}

.promoteCard .textContentShow {
    display:block !important;
}
.promoteCard:last-child {
    margin-bottom:0;
}
.cardImg {
    width:30%;
    display:inline-block;
}
.cardImg img {
    width:100%;
}
.cardInfo {
    width:69%;
    display:inline-block;
    padding:20px;
}
.cardInfo h2 {
    color:#ff6a00;
    font-weight:bold;
}
.promotBtn {
    background:#ff6a00;
    color:#fff;
}
.promotBtn:hover {
    background:#ff6a00;
    color:#fff;
    opacity:0.8;
}