 
/*客服代码部分*/
.qqserver .qqserver-header:after,.qqserver .qqserver-header:before,.qqserver li a:after,.qqserver li a:before{display:table;content:' '}
.qqserver .qqserver-header:after,.qqserver li a:after{clear:both}
.qqserver .qqserver-header,.qqserver li a,.tabs,.user-main,.view-category,.view-category-list>li{*zoom:1}
.qqserver{position:fixed;top:50%;right:0;height:170px;margin-top:-150px;z-index:99 }
.qqserver.unfold .qqserver-body{right:0}
.qqserver .qqserver-body{position:absolute;right:-155px;width:150px; padding:12px 10px;-webkit-transition:.3s cubic-bezier(.19,1,.22,1);-o-transition:.3s cubic-bezier(.19,1,.22,1);transition:.3s cubic-bezier(.19,1,.22,1); background:#f9c519;color:#fff; -moz-box-shadow:1px 2px 15px rgba(0,0,0,0.6);-webkit-box-shadow:1px 2px 15px rgba(0,0,0,0.6);box-shadow:1px 2px 15px rgba(0,0,0,0.6);
border-radius: 20px 0 0 20px;-moz-border-radius:  20px 0 0 20px;-webkit-border-radius: 20px 0 0 20px;}
.qqserver .qqserver_fold{position:absolute;right:0; cursor:pointer; }
.qqserver .qqserver-header{padding-bottom:10px;}
.qqserver .qqserver-header *{float:left}
.qqserver .qqserver_arrow{margin-top:-1px;margin-left:7px;cursor:pointer}

.qqserver ul{ border-top:1px solid #333; border-bottom:1px solid #333;}
.qqserver li{margin :5px 0;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;}
.qqserver li a{display:block;border-radius:6px;padding-left:40px;line-height:35px;color:#000}
.qqserver li:hover{background-color:#daa700} 
.qqserver li a:hover{text-decoration:none;opacity:0.8}
 .qqserver .qqserver-footer{margin-top:10px;  padding-left:8px; font-size:20px;text-align:center}
.qqserver .qqserver_icon-alert{display:inline-block;margin-right:10px;vertical-align:-3px;*display:inline;*zoom:1;*vertical-align:-1px}
 
.qqserver li.line a{ background:url(../images/serve.png) no-repeat  ;background-position:-72px -35px}
.qqserver li.wx a{ background:url(../images/serve.png) no-repeat  ;background-position:-72px -67px}
.qqserver li.qq a{ background:url(../images/serve.png) no-repeat ;background-position:-72px -100px}


.qqserver .qqserver_fold div{width:35px;height:170px;background-image:url(../images/serve.png); }
.qqserver .qqserver_fold:hover div{ background-image:url(../images/serve.png);background-position:-36px 0}

.qqserver-footer a{color:#fff;display:block;padding:5px ;margin-bottom:5px;
-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;}
.serve1{background:#f77011}
.serve2{background:#ff3300}
.serve1:hover{background:#c35000}
.serve2:hover{background:#d8350d}
 
.qqserver_arrow{width:110px;height:30px;background-image:url(../images/serve.png);background-position:-75px 0}
.qqserver_arrow:hover{opacity:0.8}

/*維修時間部分*/
.service .service-header:after,.service .service-header:before,.service li a:after,.service li a:before{display:table;content:' '}
.service .service-header:after,.service li a:after{clear:both}
.service .service-header,.service li a,.tabs,.user-main,.view-category,.view-category-list>li{*zoom:1}
.service{position:fixed;top:50%;left:0;height:170px;margin-top:-150px;z-index:99 }
.service.unfold .service-body{left:0}
.service .service-body{position:absolute;left:-155px;width:150px; padding:12px 10px;-webkit-transition:.3s cubic-bezier(.19,1,.22,1);-o-transition:.3s cubic-bezier(.19,1,.22,1);transition:.3s cubic-bezier(.19,1,.22,1); background:#f9c519;color:#000; -moz-box-shadow:1px 2px 15px rgba(0,0,0,0.6);-webkit-box-shadow:1px 2px 15px rgba(0,0,0,0.6);box-shadow:1px 2px 15px rgba(0,0,0,0.6);border-radius: 0 20px 20px 0;-moz-border-radius: 0 20px 20px 0;-webkit-border-radius: 0 20px 20px 0;}
.service .service_fold{position:absolute;left:0; cursor:pointer; }
.service .service-header{padding-bottom:10px;}
.service .service-header *{float:left}
.service .service_arrow{margin-top:-1px;margin-left:7px;cursor:pointer}
.service .service-body > ul{font-size: 14px;}

.service .service-body > ul > li.date{}
.service .service-body > ul > li.date > span{background: #000;color: #fff;}
.service .service-body > ul > li.date > ul{margin-right: 20px;}
.service .service-body > ul > li.date > ul > li{padding :5px 0;cursor: pointer;}
.service .service-body > ul > li.date > ul > li+li{border-top: 1px dashed #555;}
.service li span{display: block;text-align: center;}
.service li span.tit{background: #f77011;color: #fff;padding: 2px;border-radius: 10px;letter-spacing: 2px;}
.service li.date > span{letter-spacing: 5px;}

.service .service-body > ul > li.date > ul > li:hover span.tit{background: #f30;}
.service .service-body > ul > li.date > ul > li:hover span.time{font-weight: 600;}

.service .service_fold div{width:35px;height:170px;background-image:url(../images/service.png); }
.service .service_fold:hover div{ background-image:url(../images/service.png);background-position:-36px 0}
 
.service_arrow{width:110px;height:30px;background-image:url(../images/service.png);background-position:-75px 0}
.service_arrow:hover{opacity:0.8}