 h2 { margin-top: 0; }
.formGroup {
	margin-bottom: 3em;
}
#withdrawWrap .mui-textfield { padding-top: 0; }
.withdrawWrap .col3 { width: 50%; }
.mui-select__menu .mui--is-selected, 
.mui-select>select[name="walletTypes"],
.mui-textfield input[type=text][name="amount"],
input[type=radio]:checked + label {
	color: #2196F3;
	font-weight: bold;
	vertical-align: top;
}
.small {        
	padding: 1em 0;
	font-size: .8125em; 
}
input[name="amount"], input[name="amount"]:focus,
input[name="withdrawPassword"], input[name="withdrawPassword"]:focus
{ height: auto !important; font-size: 1.5em; font-weight: bold; color: #2196F3; }
.walletBalance { color: red; }
	.input {
	vertical-align: top;
}

input[name="amount"][readonly] { cursor: text; }